body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555555;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #244A9A;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    box-sizing: border-box;
}

button:hover {
    background-color: #102D69;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#processing-container {
    display: none;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #244A9A;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.back-button {
    background-color: #6c757d;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #5a6268;
}

.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.file-input-container input[type="file"] {
    display: none; /* Скрываем стандартный input */
}

.custom-file-input {
    padding: 10px 20px;
    background-color: #244A9A;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.custom-file-input:hover {
    background-color: #102D69;
}

.file-name {
    color: #555555;
    font-size: 14px;
}